<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <h2>Welcome to Login Page</h2>
    <div>
        <form action="/login" method="post">
            <label>User Name</label>
            <input type="text" name="username" placeholder="User Name">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>
        <h2 th:utext="${msg}"></h2>
    </div>
</body>
</html>